@charset "UTF-8";

section#conteudo{
	width: 1000px;
	margin: auto;
}

iframe#frame-spec{
	width: 400px;
	height: 280px;	
	border: none;
	overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar{
	display: none;
	/*Esse recurso não está funcionando aqui pelo CSS, tem que colocar dentro da tag iframe o parâmetro scrolling="no" para esconder o Scroll do iframe*/
}